:root {
	--container-paddding: 20px;
	--input-padding-vertical: 6px;
	--input-padding-horizontal: 4px;
	--input-margin-vertical: 4px;
	--input-margin-horizontal: 0;
	background: #252526;
}

body {
	padding: 0 var(--container-paddding);
	color: var(--vscode-foreground);
	font-size: var(--vscode-font-size);
	font-weight: var(--vscode-font-weight);
	font-family: var(--vscode-font-family);
}

ol,
ul {
	padding-left: var(--container-paddding);
}

body>*,
form>* {
	margin-block-start: var(--input-margin-vertical);
	margin-block-end: var(--input-margin-vertical);
}

*:focus {
	outline-color: var(--vscode-focusBorder) !important;
}

a {
	color: var(--vscode-textLink-foreground);
}

a:hover,
a:active {
	color: var(--vscode-textLink-activeForeground);
}

code {
	font-size: var(--vscode-editor-font-size);
	font-family: var(--vscode-editor-font-family);
}

button {
	border: none;
	padding: var(--input-padding-vertical) var(--input-padding-horizontal);
	width: 100%;
	text-align: center;
	outline: 1px solid transparent;
	outline-offset: 2px !important;
	color: var(--vscode-button-foreground);
	background: #1976d2;
	border-radius: 6px;
}

button:hover {
	cursor: pointer;
	background: var(--vscode-button-hoverBackground);
}

button:focus {
	outline-color: var(--vscode-focusBorder);
}

button.secondary {
	color: var(--vscode-button-secondaryForeground);
	background: var(--vscode-button-secondaryBackground);
}

button.secondary:hover {
	background: var(--vscode-button-secondaryHoverBackground);
}

/*可以使用header和back-btn创建一个标题和返回键*/
.header {
	padding: 12px 16px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid var(--vscode-tab-border);
	background-color: var(--vscode-bg);
	position: relative;
}

.back-btn {
	background: transparent;
	border: none;
	color: var(--vscode-text);
	font-size: 18px;
	cursor: pointer;
	margin-right: 10px;
	padding: 0 10px;
	border-radius: 4px;
	transition: background 0.2s;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
}

.back-btn:hover {
	background: var(--vscode-highlight);
}

/*这个用于空行*/
.spacer {
	margin-bottom: 30px;
}